新增 文字文件.txt
06wubi_ci.txt
luna_pinyin.userdb.txt
py.userdb.txt
stroke.userdb.txt
unicode.userdb.txt
/Rime/core2020.userdb.txt
/不需要的文件备份
/Rime/weasel.yaml
/opencc/.stignore
/Rime/06wubi_dz.dict.yaml
/Rime/06wubi_ci.dict.yaml
/opencc/06wubi_spelling.ocd
/opencc/06wubi_spelling_rk.ocd
/Rime/个人专属单字全码表.txt
